.block-element {
    background-color: green;
    margin: 10px;
    padding: 20px;
}
.nav {
    background-color: rgba(81, 81, 97, 0.438);
    padding: 20px;
    list-style: none;
    text-align: center;
}

.nav li {
    display: inline-block;
    margin: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

/* html {
  font-size: 62.5%;
}
.parent {
    display: inline-block;
    margin:4rem;
}
.box {
    background-color: red;
    width: 25rem;
    height: 5rem;
    border-radius: 1rem;
}
#one {
    background-color: rgb(68, 84, 128);
    position: absolute;
    width: 14rem;
    height: 2rem;
    top: 8rem;
    left: 9.7rem;
    padding: 1.2rem;
    opacity: 0.9
}
.box:last-child{
    padding: 2rem;
    text-justify: auto;
} */

/* 
p {
    font-size: 1.6rem;
}
main {
    width: 100vw;
    height: 100vh;
    background-color: red;
}
section {
    width: 80%;
    min-width: 320px;
    max-width: 500px;
    min-height: 500px;
    margin: 0 auto;
    background-color: blue;
} */